---
import Layout from "../../../layouts/Layout.astro";
import Sidebar from "../../../components/admin/Sidebar";
import AdminGuard from "../../../components/admin/AdminGuard";
import ContentList from "../../../components/admin/content/ContentList";
---

<Layout title="Content Management | Cuba Tattoo Studio">
    <AdminGuard client:only="react">
        <div class="flex min-h-screen bg-zinc-950">
            <Sidebar client:load />
            <main class="ml-72 flex-1 p-8">
                <ContentList client:load />
            </main>
        </div>
    </AdminGuard>
</Layout>
