---
import Layout from '../../components/Layout.astro';
import ArtistDavid from '../../components/artists/ArtistDavid.astro';
import ArtistNina from '../../components/artists/ArtistNina.astro';
import ArtistKarli from '../../components/artists/ArtistKarli.astro';
import Heading from '../../components/Heading.astro';
---
<Layout title="Our Artists | Cuba Tattoo Studio">
  <div class="container mx-auto py-8">
    <Heading level={1} text="Meet Our Artists" class="text-4xl font-bold text-center mb-12" />
    <div class="grid md:grid-cols-3 gap-8">
      <ArtistDavid />
      <ArtistNina />
      <ArtistKarli />
    </div>
  </div>
</Layout>
