---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import Historia from '../../components/sections/Historia.astro';
import ArtistDavid from '../../components/sections/ArtistDavid.astro';
import ArtistNina from '../../components/sections/ArtistNina.astro';
import ArtistKarli from '../../components/sections/ArtistKarli.astro';
import AgendarCita from '../../components/sections/AgendarCita.astro';
import Footer from '../../components/Footer.astro';
---
<BaseLayout lang="en">
  <Header locale="en" />
  <main>
    <Historia locale="en" />
    <ArtistDavid locale="en" />
    <ArtistNina locale="en" />
    <ArtistKarli locale="en" />
    <AgendarCita locale="en" />
  </main>
  <Footer />
</BaseLayout>
