---
// Footer.astro
const currentYear = new Date().getFullYear();
---
<footer class="bg-negro text-white p-4 mt-8">
  <div class="container mx-auto text-center">
    <p>&copy; {currentYear} Cuba Tattoo Studio. All rights reserved.</p>
  </div>
</footer>
