---
// Header.astro
import Navigation from './Navigation.astro'; // Assuming Navigation will be created later or is part of this
---
<header class="bg-negro text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-xl font-bold">Cuba Tattoo Studio</div>
    <Navigation />
  </div>
</header>
