---
// Navigation.astro
// Basic navigation placeholder
---
<nav>
  <ul class="flex space-x-4">
    <li><a href="/" class="hover:text-gray-300">Home</a></li>
    <li><a href="/artists" class="hover:text-gray-300">Artists</a></li>
    <li><a href="/contact" class="hover:text-gray-300">Contact</a></li>
    {/* Language selector will be added later as per i18n step */}
  </ul>
</nav>
