---
import Layout from '../layouts/Layout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import LanguageSelector from '../components/LanguageSelector.astro';
import Studio from '../components/Studio.astro';
import Artists from '../components/Artists.astro';
import Booking from '../components/Booking.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<Layout title="Cuba Tattoo Studio - Unique Body Art in Cuba">
  <SiteHeader lang="en" />
  <LanguageSelector lang="en" />
  <main>
    <Studio lang="en" />
    <Artists lang="en" />
    <Booking lang="en" />
  </main>
  <SiteFooter lang="en" />
</Layout>
