---
import Layout from '../../layouts/Layout.astro';
import SiteHeader from '../../components/SiteHeader.astro';
import LanguageSelector from '../../components/LanguageSelector.astro';
import Studio from '../../components/Studio.astro';
import Artists from '../../components/Artists.astro';
import Booking from '../../components/Booking.astro';
import SiteFooter from '../../components/SiteFooter.astro';
---

<Layout title="Cuba Tattoo Studio - Arte Corporal Único en Cuba">
  <SiteHeader lang="es" />
  <LanguageSelector lang="es" />
  <main>
    <Studio lang="es" />
    <Artists lang="es" />
    <Booking lang="es" />
  </main>
  <SiteFooter lang="es" />
</Layout>
